@model IEnumerable<MWG_Ecommerce.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CategoryList
{   
   <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
       <div class="navbar-nav w-100 overflow-hidden" style="height: 310px">      
            @foreach(var item in ViewBag.CategoryList)
            {
                <a href="" class="nav-item nav-link">@item.CategoryName</a>
            }                                 
       </div>
   </nav>
}

@section SupplierList
{  
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thương hiệu</a>
            <div class="dropdown-menu rounded-0 m-0">
            @foreach(var item in ViewBag.SupplierList)
            {
                <a href="#" class="dropdown-item">@item.CompanyName</a>
            }            
            </div>
    </div>  
}

@*@section Banner
{
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="https://a.ipricegroup.com/media/Sneaker/Bitis/Giay_Bitis_Hunter_1.jpg" alt="Card image cap">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm giá 30.000 VND</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Bitis Hunter</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Xem ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="https://tefoss.com/wp-content/uploads/2022/02/ht006.jpg" alt="Card image cap">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm giá 50.000 VND</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Tefoss</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Xem ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
    </div>
    <br />
}*@

@section Featured{
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Sản phẩm tốt</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Ngày đổi trả</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
                </div>
            </div>
        </div>
    </div>
}

@section Categories{
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3" style="text-align:center">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["CountProduct_1"] sản phẩm</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img style="width: 200px; height: 300px" class="img-fluid" src="https://product.hstatic.net/1000355922/product/giay-the-thao-skech-nam-co-chun-sieu-nhe-do-man__1__8658ad63c0f94816ae3cd3c7830c2af7.png" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Giày Thể Thao/ Sneakers</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["CountProduct_2"] sản phẩm</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img style="width: 200px; height: 300px" class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaFE8wj_Ohh-JXQA3rDRABcmbc5UwarP2GpQ&usqp=CAU" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Bốt</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["CountProduct_3"] sản phẩm</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img style="width: 200px; height: 300px" class="img-fluid" src="https://salt.tikicdn.com/ts/tmp/7f/74/5a/65dd3def96542dfe635da0413080159d.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Giày Tây Lười</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["CountProduct_4"] sản phẩm</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img style="width: 200px; height: 300px" class="img-fluid" src="https://product.hstatic.net/200000423339/product/5_1cd9affd5beb4f52b0fe77723e30503f_master.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Giày Oxfords & Giày Buộc Dây</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["CountProduct_5"] sản phẩm</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img style="width: 200px; height: 300px" class="img-fluid" src="https://cdn.topz.vn/topz/2021/12/dep1.jpg.webp" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Xăng-đan và Dép</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@ViewData["CountProduct_6"] sản phẩm</p>
                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img style="width: 200px; height: 300px" class="img-fluid" src="https://admin.zibi.vn/upload/images/2021/02/26/26-02-2021-1614327328-6038ae20b0a27-6038ae20b0a29--0.jpg" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Phụ kiện giày dép</h5>
                </div>
            </div>
        </div>
    </div>
}

@section TopProductView{
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h1 class="section-title px-5"><span class="px-2">Top Views Sản Phẩm</span></h1>
        </div>
        <div class="row px-xl-5 pb-3">
            @foreach(var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="@item.Picture" alt="Card image cap">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@String.Format("{0:0,0}", item.Price) VND  -  @Html.DisplayFor(modelItem => item.Views) Lượt xem</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
}


@section SupplierListVendor{
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Top thương hiệu</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    @foreach(var item in ViewBag.SupplierList)
                    {
                        <div class="vendor-item border p-4">
                            <img  style="width: 114px; height: 114px;" src="@item.Picture" alt="Card image cap">
                        </div>
                    }                                    
                </div>
            </div>
        </div>
    </div>
}

