@model IEnumerable<MWG_Ecommerce.Models.Discount>

@{
    ViewData["Title"] = "DiscountManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center">Quản lí khuyến mãi</h1>

<p>
    <a onclick="generalShowInPopup('@Url.Action("AddOrEditDiscount","DiscountManager",null,Context.Request.Scheme)','Thêm khuyến mãi')" class="btn btn-success btn btn-success text-white"><i class="fas fa-random"></i> Thêm khuyến mãi</a>
    <a onclick="generalShowInPopup('@Url.Action("AddDiscountProduct","DiscountManager", null,Context.Request.Scheme)','Thêm sản phẩm khuyến mãi')" class="btn btn-success btn btn-success text-white"><i class="fa fa-plus-circle"></i> Thêm khuyến mãi cho sản phẩm</a>
    <a class="btn btn-primary text-white" asp-controller="DiscountManager" asp-action="Index"> <i class="fas fa-arrows"></i> Tất cả khuyến mãi</a>
    <a class="btn btn-info text-white" asp-controller="DiscountManager" asp-action="ShowTrueDiscount"> <i class="fa-solid fa-table-list"></i> Đang áp dụng</a>
    <a class="btn btn-warning" asp-controller="DiscountManager" asp-action="ShowFalseDiscount"> <i class="fa-solid fa-table-list"></></i> Không áp dụng</a>
</p>


<!-- TABLE VIEW --> 
<div class="table-responsive rounded-top rounded-bottom">
    <table style="text-align:center" class="table table-bordered" id="myTable">
        <thead>
            <tr class="table-warning">
                <th style=" width:10%" scope="col">
                   Mã số
                </th>
                <th style=" width:15%" scope="col">
                    Nội dung khuyến mãi 
                </th>          
                <th style=" width:15%" scope="col">
                    Giá khuyến mãi 
                </th>   
                <th style=" width:15%" scope="col">
                    Thời gian bắt đầu
                </th>   
                <th style=" width:15%" scope="col">
                    Thời gian kết thúc 
                </th>   
                <th class="align-middle" style=" width:15%;" scope="col">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountContent)
                </td>  
                <td>
                    @String.Format("{0:0,0}", item.DiscountPrice) VND
                </td>  
                 <td>
                     @*@Html.DisplayFor(modelItem => item.StartTime)*@
                    @String.Format("{0:dd/MM/yyyy}", item.StartTime)
                </td>  
                 <td>
                     @*@Html.DisplayFor(modelItem => item.EndTime)*@
                    @String.Format("{0:dd/MM/yyyy}", item.EndTime)
                </td>  
                <td class="align-middle text-center">
                    <button type="button" class="btn btn-info text-white" 
                            onclick="showInPopup('@Url.Action("AddOrEditDiscount","DiscountManager",new { id= item.DiscountId },Context.Request.Scheme)','Sửa thông tin')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                     <a class="btn btn-success text-white" asp-controller="DiscountManager" asp-action="ListOfDiscountProduct" asp-route-id="@item.DiscountId">
                        <i class="fas fa-list"></i>
                    </a>                     
                    <form asp-action="Delete" asp-route-id="@item.DiscountId" onsubmit="return ajaxDelete(this);" class="d-inline">
                    <button type="submit" class="btn btn-danger">
                        <i style="color:black;" class="far fa-trash-alt"></i>
                    </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
