@*@model IEnumerable<MWG_Ecommerce.Models.Size>*@

@using System.Globalization
@model MWG_Ecommerce.DTO.SizePagingDTO

@{
    ViewData["Title"] = "SizeManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1 style="text-align:center">Quản lí kích cỡ sản phẩm</h1>

<p>
    <a onclick="generalShowInPopup('@Url.Action("AddOrEditSize","SizeManager",null,Context.Request.Scheme)','Thêm kích cỡ')" class="btn btn-success btn btn-success text-white"> <i class="fas fa-random"></i> Thêm kích cỡ</a>
</p>

<!-- TABLE VIEW -->
<div class="table-responsive rounded-top rounded-bottom">
    <table style="text-align:center" class="table table-bordered" id="myTable">
        <thead>
            <tr class="table-warning">
                <th style=" width:15%" scope="col">
                   Mã số
                </th>
                <th style=" width:15%" scope="col">
                    Kích thước
                </th>              
                <th class="align-middle" style=" width:15%;" scope="col">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Sizes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size1)
                </td>         
                <td class="align-middle text-center">
                    <button type="button" class="btn btn-info text-white" 
                            onclick="generalShowInPopup('@Url.Action("AddOrEditSize","SizeManager",new { id= item.SizeId },Context.Request.Scheme)','Sửa kích cỡ')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <form asp-action="Delete" asp-route-id="@item.SizeId" onsubmit="return ajaxDelete(this);" class="d-inline">
                    <button type="submit" class="btn btn-danger">
                        <i style="color:black;" class="far fa-trash-alt"></i>
                    </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageCount > 1)
    {

        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Items: @Model.PageCount
            </div>
             <div class="col-sm-10">
          
            @if (Model.CurrentPageIndex > 1)
            {
                <a class="page-links btn btn-outline-primary" asp-controller="SizeManager" asp-action="Index" asp-route-currentPageIndex="1">First</a>

            }
            else
            {
                <span class="btn btn-outline-primary active">First</span>
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                @if (Model.CurrentPageIndex != i)
                {
                    <a class="page-links btn btn-outline-primary" asp-controller="SizeManager" asp-action="Index" asp-route-currentPageIndex="@i">@i</a>

                }
                else
                {
                    <span class="btn btn-outline-primary active">@i</span>

                }
            }

            @if (Model.CurrentPageIndex < Model.PageCount)
            {
                <a class="page-links btn btn-outline-primary" asp-controller="SizeManager" asp-action="Index" asp-route-currentPageIndex="@(Model.CurrentPageIndex+1)">Next</a>

            }
            else
            {
                <span class="btn btn-outline-primary active">Next </span>

            }

            @if (Model.CurrentPageIndex < Model.PageCount)
            {
                <a class="page-links btn btn-outline-primary" asp-controller="SizeManager" asp-action="Index" asp-route-currentPageIndex="@Model.PageCount">Last</a>

            }
            else
            {
                <span class="btn btn-outline-primary active">Last</span>

            } &nbsp;
        </div>
    </div>
    }

</div>
