@model MWG_Ecommerce.DTO.ProductPagingDTO

@{
    ViewData["Title"] = "ProductManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lí sản phẩm </h1>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom position-relative">
    <div class="m-2">
        <a type="submit" class="btn btn-success btn__add--book text-white"  
           onclick="showInPopup('@Url.Action("AddOrEditProduct","ProductManager",null,Context.Request.Scheme)','Thêm sản phẩm mới')">
            <i class="fas fa-plus">Thêm sản phẩm</i>
        </a>
    </div>


</div>

<!-- TABLE VIEW -->
<div class="table-responsive rounded-top rounded-bottom">
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr class="table-warning">
                <th scope="col">
                   Mã số
                </th>
                <th scope="col">
                    Tên
                </th>
                <th style=" width:15%" scope="col">Hình ảnh</th>
                <th style=" width:15%" scope="col">
                    Giá 
                </th>
                <th style=" width:15%" scope="col">
                    Số lượng tồn 
                </th>
                <th class="align-middle" style=" width:10%;" scope="col">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="align-middle text-center">
                    <img style="height:120px;width:auto;" class="card-img-top " src=@item.Picture
                         alt="Card image cap">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) VNĐ
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.QuanlityInStock)
                </td>

                <td class="align-middle text-center">
                    <button type="button" class="btn btn-warning m-1 btn__edit--book" 
                            onclick="showInPopup('@Url.Action("AddOrEditProduct","ProductManager",new { id= item.ProductId },Context.Request.Scheme)','Sửa sản phẩm mới')">
                        <i class="far fa-edit"></i>
                    </button>
                    <form asp-action="Delete" asp-route-id="@item.ProductId" onsubmit="return ajaxDeleteProduct(this);" class="d-inline">
                    <button type="submit" class="btn btn-danger btn__delete--product">
                        <i style="color:black;" class="far fa-trash-alt"></i>
                    </button>
                    </form>
                </td>
            </tr>}
        </tbody>
    </table>


   @if (Model.PageCount > 1) { 
    
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Tổng trang: @Model.PageCount
        </div>
        @if (Model.CurrentPageIndex > 1)
        {
            <a class="page-links btn btn-outline-primary" asp-controller="ProductManager" asp-action="Index" asp-route-currentPageIndex="1">First</a>

        }
        else
        {
            <span class="btn btn-outline-primary active">First</span>
        }&nbsp; &nbsp;

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            @if (Model.CurrentPageIndex != i)
            {
                <a class="page-links btn btn-outline-primary"asp-controller="ProductManager" asp-action="Index" asp-route-currentPageIndex="@i">@i</a>

            }
            else
            {
                <span class="btn btn-outline-primary active">@i</span>

            }
        }

        @if (Model.CurrentPageIndex < Model.PageCount)
        {
            <a class="page-links btn btn-outline-primary" asp-controller="ProductManager" asp-action="Index" asp-route-currentPageIndex="@(Model.CurrentPageIndex+1)">Next</a>

        }
        else
        {
            <span class="btn btn-outline-primary active" >Next </span>

        }&nbsp; &nbsp;

        @if (Model.CurrentPageIndex < Model.PageCount)
        {
            <a class="page-links btn btn-outline-primary"  asp-controller="ProductManager" asp-action="Index" asp-route-currentPageIndex="@Model.PageCount">Last</a>

        }
        else
        {
            <span class="btn btn-outline-primary active">Last</span>

        }&nbsp; &nbsp;

    </div>
     }
</div>