@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model MWG_Ecommerce.Models.User

@{
    ViewData["Title"] = "MyAccountLoginHistory";
    @if(@HttpContextAccessor.HttpContext.Session.GetString("role") == "ROLE_ADMIN")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        @section CategoryList
        {
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 40px">                                            
                    <select class="form-control" asp-items="ViewBag.CategoryList"></select>   
                </div>
            </nav>
        }

        @section SupplierList
        {  
            <select  class="form-control" asp-items="ViewBag.SupplierList"></select>   
        }
    }

}

<h1 style="text-align:center">Lịch sử đăng nhập</h1>

<!-- TABLE VIEW -->
<div class="table-responsive rounded-top rounded-bottom">
    <table style="text-align:center" class="table table-bordered" id="myTable">
        <thead>
            <tr class="table-warning">
                <th style=" width:5%" scope="col">
                   Mã số
                </th>
                 <th style=" width:15%" scope="col">
                   Tên người dùng
                </th>   
                <th style=" width:15%" scope="col">
                   Tên đăng nhập
                </th>          
                <th style=" width:15%" scope="col">
                   Thời gian đăng nhập
                </th>    
                <th class="align-middle" style=" width:15%;" scope="col">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.LoginHistories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HistoryId)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>  
                <td class="align-middle text-center">
                    <form asp-action="DeleteMyLoginHistory" asp-route-id="@item.HistoryId" onsubmit="return ajaxDelete(this);" class="d-inline">
                    <button type="submit" class="btn btn-danger">
                        <i style="color:black;" class="far fa-trash-alt"></i>
                    </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
