@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model MWG_Ecommerce.Models.User
@{
    ViewData["Title"] = "MyInfoDetail";
    @if(@HttpContextAccessor.HttpContext.Session.GetString("role") == "ROLE_ADMIN")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        @section CategoryList
        {   
           <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
               <div class="navbar-nav w-100 overflow-hidden" style="height: 310px">      
                    @foreach(var item in ViewBag.CategoryList)
                    {
                        <a href="" class="nav-item nav-link">@item.CategoryName</a>
                    }                                 
               </div>
           </nav>
        }

        @section SupplierList
        {  
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thương hiệu</a>
                    <div class="dropdown-menu rounded-0 m-0">
                    @foreach(var item in ViewBag.SupplierList)
                    {
                        <a href="#" class="dropdown-item">@item.CompanyName</a>
                    }            
                    </div>
            </div>  
        }
    }
}

<h1 style="text-align:center">Thông tin tài khoản</h1>

<div class="row">
    <div class="col-md-12">
        <div asp-action="MyInfoDetail" asp-route-id="@Model.UserId">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" asp-for="UserId" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên người dùng</label>
                        <input asp-for="Name" readonly class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>               
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label">Tên đăng nhập</label>
                        <input asp-for="Username" readonly type="text" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>                
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Địa chỉ</label>
                        <textarea asp-for="Address" readonly type="text" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" readonly type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="form-group">
                        <label asp-for="Phone" class="control-label">Số điện thoại</label>
                        <input asp-for="Phone" readonly type="tel" maxlength="10" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sex" class="control-label">Giới tính</label>
                        <select asp-for="Sex" readonly class="form-control">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                            </select>
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                     <div class="form-group">
                        <label asp-for="Role" class="control-label">Vai trò</label>
                        <select asp-for="Role" readonly class="form-control">
                            <option value="True">Quản trị viên</option>
                            <option value="False">Người dùng</option>                           
                            </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <input onclick="generalShowInPopup('@Url.Action("EditMyInfo","AccountManager",new { id= @Model.UserId },Context.Request.Scheme)','Sửa thông tin')" style="text-align:center; background-color:lightseagreen" type="submit" value="Thay đổi thông tin" class="btn btn-primary btn-block" />
                @*<a asp-action="EditMyInfo" asp-route-id="@Model.UserId" style="margin-left:470px; background-color:lightseagreen" type="submit" value="Thay đổi thông tin" class="btn btn-primary btn-block"></a>*@
            </div>
        </div>
    </div>
</div>
